.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}
.navbar-brand , .nav-link, .my-form, .login-form
{
    font-size: 1em;
}
.card-header{
   font-size: 2em;
   font-weight: bold;
   text-align: center;
   background-color:azure;
}
.my-form
{
    border: 1em solid rgb(26, 26, 26);
    padding-top: 30px;
    padding-bottom: 1.5rem;
    margin-top: 10px; 
} 
.my-form .row
{
    margin-left: 0;
    margin-right: 0;
 
}
.login-form
{
    padding-top: 5 rem;
    padding-bottom: 1.5rem;
}
.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}
/* .card{
  
    background-color: FFD8A9;
} */
.name{
    margin-bottom: .5em;
}
.login-form{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, lightblue, lightblue);
}
.reenter{
    margin-top: 1em;
}
.form-control{
    background-color:whitesmoke;
}
.name{
    margin-top: 1em;
}
.alt{
    padding-top: 50px;
    background-image: linear-gradient(to bottom right, lightblue, lightblue);
}
